{% load crispy_forms_tags %}
{% load static %}


<!-- content -->
<div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2">
        <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'revenue' %} active{% endif %}{% if impact_active == None %} active{% endif %}" id="home-tab4" data-toggle="tab" href="#revenue" role="tab" aria-controls="home" aria-selected="false">Revenue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'employment' %} active{% endif %}" id="profile-tab4" data-toggle="tab" href="#employment" role="tab" aria-controls="profile" aria-selected="false">Employment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'awards' %} active{% endif %}" id="contact-tab4" data-toggle="tab" href="#awards" role="tab" aria-controls="contact" aria-selected="true">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'intern' %} active{% endif %}" id="contact-tab4" data-toggle="tab" href="#intern" role="tab" aria-controls="contact" aria-selected="true">Intern</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'product' %} active{% endif %}" id="contact-tab4" data-toggle="tab" href="#product" role="tab" aria-controls="contact" aria-selected="true">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if impact_active == 'fund' %} active{% endif %}" id="contact-tab4" data-toggle="tab" href="#fund" role="tab" aria-controls="contact" aria-selected="true">Fund Raised</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-10">
        <div class="tab-content no-padding" id="myTab2Content">
            <!-- revenue -->
          <div class="tab-pane fade {% if impact_active == 'revenue' %} active show{% endif %}{% if impact_active == None %} active show{% endif %}" id="revenue" role="tabpanel" aria-labelledby="home-tab4">
            <div class="d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-10">

                    {% if success == "Revenue Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Revenue Details was Added successfully.
                        </div>
                    </div>
                    {% elif success == "Revenue Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Revenue Details was Updated successfully.
                        </div>
                    </div>                    
                    {% endif %} 
                    <div class="card">
                        <div class="card-header">
                            <h4>Revenue Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addRevenueModal"><i class="fas fa-plus"></i> Add Revenue</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center ">
                                <thead class="thead-dark">
                                  <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Revenue Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in revenue %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ i.financialYear_id }}</td>
                                        <td>₹ {{ i.revenue }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan=3 >
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- employment -->
          <div class="tab-pane fade {% if impact_active == 'employment' %} active show{% endif %}" id="employment" role="tabpanel" aria-labelledby="profile-tab4">
            <div class="d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-10">

                    {% if success == "Employment Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Employment Details was Added successfully.
                        </div>
                    </div>
                    {% elif success == "Employment Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Employment Details was Updated successfully.
                        </div>
                    </div>                    
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4>Employment Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addEmploymentModal"><i class="fas fa-plus"></i> Add Employment</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center ">
                                <thead class="thead-dark">
                                  <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">No. of Employments</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in employment %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ i.date }}</td>
                                        <td>{{ i.employment }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan=3 >
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Awards -->
          <div class="tab-pane fade {% if impact_active == 'awards' %} active show{% endif %}" id="awards" role="tabpanel" aria-labelledby="contact-tab4">
            <div class="">
                {% if success == "Award Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Award Details was Added successfully.
                        </div>
                    </div>
                    {% elif success == "Award Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Award Details was Updated successfully.
                        </div>
                    </div>                    
                    {% endif %}
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <h4>Award Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addAwardsModal"><i class="fas fa-plus"></i> Add Award</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col" class="col-1">#</th>
                                        <th scope="col" class="col-3">Event Name</th>
                                        <th scope="col" class="col-4">Award Title</th>
                                        <th scope="col" class="col-2">Award Certificate</th>
                                        <th scope="col" class="col-2">Award Photos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <div id="accordion">
                                    {% for i in awards %}
                                    <tr>
                                        <td colspan=5>
                                            <div class="accordion">
                                                <div class="accordion-header" role="button" data-toggle="collapse" data-target="#i{{ forloop.counter}}" style="background-color: transparent;">
                                                    <div class="col-12 text-center row d-flex justify-content-center align-items-center m-0 p-0" >
                                                        <div class="col-1">{{ forloop.counter }}</div>
                                                        <div class="col-3">{{ i.eventName }}</div>
                                                        <div class="col-4">
                                                            {{ i.awardTitle }}
                                                        </div>
                                                        <div class="col-2 ">
                                                            {% if i.certificate.url|slice:"-3:" == "pdf"  %}
                                                            <button type="button" class="btn btn-primary btn-icon icon-left" data-toggle="modal" data-target="#docview" onclick="document.getElementById('docviewfile').src = '{% static i.certificate.url %}';">
                                                                <i class="fas fa-eye"></i> View 
                                                            </button>
                                                            {% elif i.certificate == "" %}
                                                            Not Uploaded
                                                            {% else %}
                                                            <a href="{% static i.certificate.url %}" download="{% static i.certificate.url %}" class="btn btn-primary btn-icon icon-left"><i class="fas fa-download"></i> Download {{ i.certificate.url|slice:"-4:" }}</a>
                                                            {% endif %}
                                                        </div>                    
                                                        <div class="col-2">
                                                            <figure class="avatar avatar-xxl ">
                                                                <img src="{% static i.photo %}" >
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-body collapse" id="i{{ forloop.counter}}" data-parent="#accordion">
                                                    <div class="row p-1 mt-2 d-flex justify-content-center text-center pl-5">
                                                      <div class="col-md-3 col-6">
                                                        <strong>Financial Year</strong>
                                                        <br>
                                                        <p class="text-muted">{{ i.financialYear_id }}</p>
                                                      </div>
                                                      <div class="col-md-3 col-6">
                                                        <strong>Event Date</strong>
                                                        <br>
                                                        <p class="text-muted">{{ i.date }}</p>
                                                      </div>
                                                      <div class="col-md-4 col-6">
                                                        <strong>Award Prize</strong>
                                                        <br>
                                                        <p class="text-muted">{% if i.amount != "0" %}Yes, ₹ {{ i.amount }}{% else %}No{% endif %}</p>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                                  
                                    {% empty %}
                                    <tr>
                                        <td colspan=8>
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- intern -->
          <div class="tab-pane fade {% if impact_active == 'intern' %} active show{% endif %}" id="intern" role="tabpanel" aria-labelledby="contact-tab4">
            <div class="">
                {% if success == "Intern Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Intern Details was Added successfully.
                        </div>
                    </div>
                    {% elif success == "Intern Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Intern Details was Updated successfully.
                        </div>
                    </div>                    
                    {% endif %}
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <h4>Intern Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addInternModal"><i class="fas fa-plus"></i> Add Intern</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th class="col-1">#</th>
                                        <th class="col-3">Name</th>
                                        <th class="col-2">Department</th>
                                        <th class="col-4">Intern Title</th>
                                        <th class="col-2">Certificates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <div id="accordion">
                                    {% for i in intern %}
                                    <tr>
                                        <td colspan=5>
                                            <div class="accordion">
                                                <div class="accordion-header" role="button" data-toggle="collapse" data-target="#i{{ forloop.counter}}" style="background-color: transparent;">
                                                    <div class="col-12 text-center row d-flex justify-content-center align-items-center m-0 p-0" >
                                                        <div class="col-1">{{ forloop.counter }}</div>
                                                        <div class="col-3">{{ i.name }}</div>
                                                        <div class="col-2">
                                                          {{ i.Department }}
                                                        </div>
                                                        <div class="col-4">
                                                            {{ i.title }}
                                                        </div>
                                                        <div class="col-2 ">
                                                            {% if i.certificate.url|slice:"-3:" == "pdf"  %}
                                                            <button type="button" class="btn btn-primary btn-icon icon-left" data-toggle="modal" data-target="#docview" onclick="document.getElementById('docviewfile').src = '{% static i.certificate.url %}';">
                                                                <i class="fas fa-eye"></i> View 
                                                            </button>
                                                            {% elif i.certificate == "" %}
                                                            Not Uploaded
                                                            {% else %}
                                                            <a href="{% static i.certificate.url %}" download="{% static i.certificate.url %}" class="btn btn-primary btn-icon icon-left"><i class="fas fa-download"></i> Download {{ i.certificate.url|slice:"-4:" }}</a>
                                                            {% endif %}
                                                        </div>                    
                                                    </div>
                                                </div>
                                                <div class="accordion-body collapse" id="i{{ forloop.counter}}" data-parent="#accordion">
                                                    <div class="row p-1 mt-2 d-flex justify-content-center text-center pl-5">
                                                      <div class="col-md-2 col-6">
                                                        <strong>Financial Year</strong>
                                                        <br>
                                                        <p class="text-muted">{{ i.financialYear_id }}</p>
                                                      </div>
                                                      <div class="col-md-2 col-6">
                                                        <strong>Roll Number</strong>
                                                        <br>
                                                        <p class="text-muted">{{ i.rollno }}</p>
                                                      </div>
                                                      <div class="col-md-2 col-6">
                                                        <strong>Is Stipended?</strong>
                                                        <br>
                                                        <p class="text-muted">{% if i.stipend == "Yes" %}Yes, ₹ {{ i.amount }}{% else %}No{% endif %}</p>
                                                      </div>
                                                      <div class="col-md-6 col-6">
                                                        <strong>Intern Duration</strong>
                                                        <br>
                                                        <p class="text-muted">{{ i.fromdate }} - {{ i.todate }}</p>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                                  
                                    {% empty %}
                                    <tr>
                                        <td colspan=8>
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- product -->
          <div class="tab-pane fade {% if impact_active == 'product' %} active show{% endif %}" id="product" role="tabpanel" aria-labelledby="contact-tab4">
            <div class="">
                {% if success == "Product Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Product Details was Added successfully.
                        </div>
                    </div>
                    {% elif success == "Product Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Product Details was Updated successfully.
                        </div>
                    </div>                    
                    {% endif %}
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addProductModal"><i class="fas fa-plus"></i> Add Product</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center ">
                                <thead class="thead-dark">
                                  <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">Financial Year</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Image</th>
                                    <th scope="col">Launch Date</th>
                                    <th scope="col">Products Sold</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in product %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <th>{{ i.financialYear_id }}</th>
                                        <th>{{ i.product_name }}</th>
                                        <th>
                                            <figure class="avatar avatar-xxl ">
                                                <img src="{% static i.product_image %}" >
                                            </figure>
                                        </th>
                                        <th>{{ i.launchDate }}</th>
                                        <th>{{ i.units_sold }}</th>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan=6 >
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- product -->
          <div class="tab-pane fade {% if impact_active == 'fund' %} active show{% endif %}" id="fund" role="tabpanel" aria-labelledby="contact-tab4">
            <div class="">
                {% if success == "Fund Raised Added" %}
                    <div class="">
                        <div class="alert alert-success">
                            Fund Raised was Added successfully.
                        </div>
                    </div>
                {% elif success == "Fund Raised Updated" %}
                    <div class="">
                        <div class="alert alert-info">
                            Fund Raised was Updated successfully.
                        </div>
                    </div>                    
                {% endif %}
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <h4>Fund Raised Details</h4>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#addFundRaisedModal"><i class="fas fa-plus"></i> Add Raised Fund</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center ">
                                <thead class="thead-dark">
                                  <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">Financial Year</th>
                                    <th scope="col">Agency</th>
                                    <th scope="col">Type of Fund</th>
                                    <th scope="col">Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in fund %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <th>{{ i.financialYear_id }}</th>
                                        <th>{{ i.agency }}</th>
                                        <th>{{ i.fundType_id }}</th>
                                        <th>₹ {{ i.amount }}</th>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan=5 >
                                            {% include 'empty.html' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>