{% extends "body.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Fund Flow
{% endblock title %}

{% block content %}

<div class="main-content">
    <section class="section">
    <div class="section-header">
        <div class="col">
            <h1>{{ schemeName }}</h1>
        </div>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></div>
            <div class="breadcrumb-item"><a href="{% url 'fundflow' %}">Fund Flow Schemes</a></div>
            <div class="breadcrumb-item">Scheme Analysis</div>
        </div>
    </div>
    <div class="row">
        <!-- Disbursement Overview -->
        <div class="col-12 col-md-12 col-lg-12">
            <div class="d-flex justify-content-center">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Sanctioned Amount Analysis</h4>
                            <!-- <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-icon icon-left btn-primary" id="fundaddbtn" data-toggle="modal" data-target="#fundflowModal"><i class="fas fa-plus"></i> Add Fund</button>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-striped ">
                                <thead class="thead-dark">
                                  <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">YEAR</th>
                                    <th scope="col">OPENING BALANCE</th>
                                    <th scope="col">SANCTIONED</th>
                                    <th scope="col">CAPITAL AMOUNT</th>
                                    <th scope="col">OPERATING AMOUNT</th>
                                    <th scope="col">FUND AMOUNT</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">YET TO RECEIVE</th>
                                    <!-- <th scope="col">STATUS</th> -->
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in years %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ i.financialYear }}</td>
                                        <td class="text-right pr-5"><p class="badge badge-primary">₹ {{ i.opening }}</p> </td>
                                        <td class="text-right pr-5">₹ {{ i.sanctioned }}</td>
                                        <td class="text-right pr-5">₹ {{ i.pg }}</td>
                                        <td class="text-right pr-5">₹ {{ i.oe }}</td>
                                        <td class="text-right pr-5">₹ {{ i.fab }}</td>
                                        <td class="text-right pr-5">₹ {{ i.total }}</td>
                                        <td class="text-right pr-5"><p class="badge badge-success">₹ {{ i.closing }}</p></td>
                                        <!-- <td>
                                            <div class="badge badge-info">Pending</div>
                                            <div class="badge badge-success">Fully Disbursed</div>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <tfoot class="text-right">
                                <nav class="d-flex justify-content-end col-12">
                                  <ul class="pagination mb-0">
                                    <li class="page-item {% if active_page == 1 %} disabled {% endif %}">
                                        <a class="page-link" href="{% url 'disbursement_Analysis' name=schemeName pagination=active_page|add:-1 %}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    {% for i in pagination %}
                                    <li class="page-item {% if active_page == i %} active {% endif %}">
                                        <a class="page-link" href="{% url 'disbursement_Analysis' name=schemeName pagination=i %}">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% endfor %}
                                    <li class="page-item {% if pagination|length == active_page %} disabled {% endif %} ">
                                        <a class="page-link" href="{% url 'disbursement_Analysis' name=schemeName pagination=active_page|add:1 %}"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                  </ul>
                                </nav>
                            </tfoot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Disbursement -->
        
    </div>
    </section>  
</div>



{% endblock content %}

{% block js %}
<script>
    var a = document.getElementById("fundflow");
    a.classList.add("active");
</script>
{% endblock js %}