<div class="col-12 mb-4 mt-4">
    <div class="row">
        <div class="col">
            <h3>Disbursement</h3>
        </div>
        {% if fund.3 != fund.4 %}
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-icon icon-left btn-success" id="disbursementbtn" data-toggle="modal" data-target="#disbursementModal"><i class="fas fa-plus"></i> Add New Disbursement</button>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Disbursed Fund Till Today</h4>
                    </div>
                    <div class="card-body">
                        <table class="table text-center ">
                            <thead class="thead-dark">
                              <tr class="">
                                  <th scope="col">CAPITAL AMOUNT</th>
                                  <th scope="col">OPERATING AMOUNT</th>
                                  <th scope="col">FUND AMOUNT</th>
                                  <th scope="col">TOTAL</th>
                                <th scope="col">SANCTIONED</th>
                                <th scope="col">STATUS</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>₹ {{ fund.0 }}</td>
                                    <td>₹ {{ fund.1 }}</td>
                                    <td>₹ {{ fund.2 }}</td>
                                    <td>₹ {{ fund.3 }}</td>
                                    <td>₹ {{ fund.4 }}</td>
                                    <td>
                                        {% if fund.4 == fund.5 %}
                                        <div class="badge badge-success">Fully Disbursed</div>
                                        {% else %}
                                        <div class="badge badge-danger">{% if fund.4 == '0' %}No Disbursements{% else %}Pending{% endif %}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">

        {% for i in disbursements %}
        <div class="col-12 col-md-4 col-lg-4">
            <div class="pricing pricing-highlight">
              <div class="pricing-title" style="font-size:medium" >
                {{ i.disbursedOn|date:"d/m/Y" }}
              </div>
              <div class="pricing-padding">
                <!-- <div class="pricing-price">
                  <div>$60</div>
                  <div>per month</div>
                </div> -->
                <div class="pricing-details">
                  <div class="pricing-item">
                      {% if i.openingBalance == '0' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">OPENING BALANCE</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.openingBalance }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.fabLab == '0' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">FUND AMOUNT</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.fabLab }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.operationExpenditure == '0' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">OPERATING AMOUNT</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.operationExpenditure }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.prototypeGrant == '0' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">CAPITAL AMOUNT</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.prototypeGrant }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.total == '0' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">TOTAL DISBURSED</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.total }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.closingBalance == '0' %}
                      <div class="pricing-item-icon bg-secondary"><i class="fas fa-check"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-10 ">CLOSING BALANCE</div>
                        <div class="col-2 d-flex justify-content-end font-weight-bold"> <span class="pr-2">₹</span> {{ i.closingBalance }}</div>
                    </div>
                  </div>
                  <div class="pricing-item">
                      {% if i.comment == '' %}
                      <div class="pricing-item-icon bg-danger"><i class="fas fa-times"></i></div>
                      {% else %}
                      <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                      {% endif %}
                    <div class="pricing-item-label row col-12">
                        <div class="col-12 font-weight-bold mb-2">COMMENTS</div>
                        <div class="col-12">  {{ i.comment   }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% empty %}
        {% include 'empty.html' %}
        {% endfor %}
    </div>
</div>
